body {
  margin: 0;
  background-color: #282c34;
  color: #fff;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.main {
  max-width: 500px;
  min-height: 500px;
  margin: 4% auto;
  border-radius: 10px;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

.btn {
  font-size: 15px;
  background-color: #24768d;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-left: 6px;
}

.textbox {
  width: 400px;
  font-size: 15px;
  border: none;
  padding: 5px;
  border-radius: 5px;
}

.textbox-2 {
  border: none;
  /* outline: none; */
  background-color: #464c58;
  color: #fff;
  padding: 5px;
}

.list-items {
  /* width: 100%; */
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 5px;
}

.my-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border-bottom: 1px solid #fff;
  padding-bottom: 8px;
  margin-top: 20px;
}
